//
$transparent: transparent;

/*main colors*/
$white-color: #fff;
//
$light-blue: #007bff;
$blue: #0069d9;
//
$dark-gray: #6c757d;
//
$light-green: #28a745;
$green: #218838;
//
$light-red: #dc3545;
$red: #bd2130;
//
$yellow: #ffc107;
$dark-yellow: #d39e00;
$snow: #f8f9fa;
$black: #343a40;


/**/
$inherit-bg-colore: inherit; 