/*$spacer = 1rem == $basic-font-size: 1rem;*/
@import "../../../_variables.scss";

@for $i from 0 through 6 {
    @if $i == 0 {
      .m-#{$i} {
        margin: 0;
      }
    } @else if $i == 1 {
        .m-#{$i} {
          margin: $basic-font-size*0.25;
        }
    } @else if $i == 2 {
        .m-#{$i} {
          margin: $basic-font-size*0.5;
        }
    } @else if $i == 3 {
        .m-#{$i} {
          margin: $basic-font-size;
        }
    } @else if $i == 4 {
        .m-#{$i} {
          margin: $basic-font-size*1.5;
        }
    } @else if $i == 5 {
        .m-#{$i} {
          margin: $basic-font-size*3;
        }
    } @else {
      .m-auto {
        margin: auto;
      }
    }
} 